<h2> <a href="/students/<%= @student.id %>"><%= @student.name %></a></h2>
<br>
<h4><%= @entry.title %></h1>
<p><%= @entry.content %></p>
<br>
<form action="/students/<%= @student.id %>/entries/<%= @entry.id %>/edit" method="get">
  <input type="submit" value="Edit Entry">
</form>
<br>

<form class="" action="/students/<%= @student.id %>/entries/<%= @entry.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete Entry">
</form>
<br>

<form action="/students/<%= @student.id %>/entries" method="get">
  <input type="submit" name="cancel" value="Cancel">
</form>
