<% if !!flash[:error] %>
  <%= flash[:error] %>
<% end %>

<h1>Edit Student</h1>
<br></br>

<form action="/students/<%= @student.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <h4>Name <input type="text" name="student[name]" value="<%= @student.name %>"></h4>
  <br>
  <h4>Email <input type="text" name="student[email]" value="<%= @student.email %>"></h4>
  <br>
  <input type="submit" name="edit" value="Save Changes">
</form>
<br>

<form action="/students/<%= @student.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="delete" value="Delete Student">
</form>
<br>

<form action="/students/<%= @student.id %>" method="get">
  <input type="submit" name="cancel" value="Cancel">
</form>
