<h1><%= @student.name %></h1>
<h4><%= @student.email %></h4>
<form action="/students/<%= @student.id %>/edit" method="get">
  <input type="submit" name="edit" value="Edit">
</form>
<br></br>

<h1>Entries</h1>

<form class="" action="/students/<%= @student.id %>/entries/new" method="get">
  <input type="submit" name="new_entry" value="Add New Entry">
</form>
<br>

<% @student.entries.each do |entry| %>
<li><a href="/entries/<%= entry.id %>"><%= entry.title %></a></li>
<br>
<% end %>
